@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");
/* font-family: 'Inter', sans-serif; */

:root {
  --Soft-orange: hsl(35, 77%, 62%);
  --Soft-red: hsl(5, 85%, 63%);
  --Off-white: hsl(36, 100%, 99%);
  --Grayish-blue: hsl(233, 8%, 79%);
  --Dark-grayish-blue: hsl(236, 13%, 42%);
  --Very-dark-blue: hsl(240, 100%, 5%);
}

body {
  height: 200vh;
  overflow-x: hidden;
}

.header {
  background-color: var(--Off-white);
  position: fixed;
  width: 95%;
  margin: 0;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .logo {
  height: 30px;
  filter: invert(4%) sepia(95%) saturate(2893%) hue-rotate(218deg)
    brightness(85%) contrast(119%);
}

.header .menu-btn {
  display: none;
}

.header .nav-btn {
  z-index: 99;
  position: relative;
  display: block;
  height: 5px;
  width: 35px;
  background-color: var(--Very-dark-blue);
}
.header .nav-btn::before {
  position: absolute;
  top: 10px;
  display: block;
  content: "";
  height: 5px;
  width: 35px;
  background-color: var(--Very-dark-blue);
}
.header .nav-btn::after {
  position: absolute;
  display: block;
  top: -10px;
  content: "";
  height: 5px;
  width: 35px;
  background-color: var(--Very-dark-blue);
}

.nav {
  position: fixed;
  width: 55%;
  height: 100%;
  top: -10px;
  left: 150px;
  background-color: aquamarine;
}
.nav li:first-child {
  padding-top: 100px;
}
.nav li {
  font-family: "Inter", sans-serif;
  list-style: none;
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 2rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
